.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessoes {
    margin: 0 auto;
    width: 300px;
}

.sessoes p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #293845;
}

button {
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    margin: 10px 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

    button:hover {
        background-color: #da6818;
        box-shadow: 0 5px 0 #c55403;
        cursor: pointer
    }

    button:active{
        position:relative;
        top:5px;
        box-shadow:none;
    }