* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
    width: 100vw;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

ion-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 67px;
    color: #E8833A;
    z-index: 3;
   
}

ion-icon:hover {
   
    cursor: pointer
}

ion-icon:active{
    
    top:5px;
    box-shadow:none;
}