* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
    width: 100vw;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 67px;
    color: #ffffff;
    background-color: #84919c;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    
}
button:hover {
    background-color: #728494;
    box-shadow: 0 5px 0 #e5e6e7;
    cursor: pointer
}

button:active{
    
    top:5px;
    box-shadow:none;
}